.book-form{
    text-align : left;
 }
form div{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-column-gap: 2%;
    justify-items: start;
    margin-bottom : 2%;
}
label{
    text-align : right;
}
input{
    height : 40px;
    width:100%;
}

